// Navigation code here

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 48%;
    margin: 20px;
    padding: 10px;
    font-size: 16px;

    h1 {
        font-size: 32px;
        align-content: center;
      
    }

    nav{
        display: flex;
        justify-content: space-evenly;

    }

    a {
        margin: 10pxx;
    }
}