// Navigation code here

.intro {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 20px;

  h1 {
    font-size: 37px;
    align-content: center;
    margin-left: 70px;
  }

  nav {
    .nav-tag-pmixin(@display:flex, @justify: flex-start,@direction: column,) {
      display: @display;
      justify-content: @color;
      flex-direction: @direction;
    } 
     @media @mobile {
      margin: 95vw;
    }
  }
  

  a {
    margin-left: 30px;
  }
}
